/* *{
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* 
.tbl-order{
  margin: 0;
} */
.App {
  text-align: center;
}

.order .row{
  margin: 0 50px 0 150px;
}

.order{
  position: relative;
}
/* 
.navAdmin{
  position: relative;
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table-format{
  width: 80%;
    margin-left: 250px;
}
.customClass {
  left: 50%;
  transform: translateX(-50%);
}

.visible.transition {
  margin-top: auto !important;
  display: inline-block !important;
  position: relative;
  top: 10%;
  left:20%;
  height: 75%;
}

.delivery-case{
  display: flex;
  flex-direction: initial;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.submit-button-css{
  background: green !important;
    color: white !important;
    width: 100px;
    margin-left: 150px;
}

.search-function{
  display: flex !important;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 50px;
}

.status-label{
  margin-top: 7px;
  margin-left: 15px;
}
.action-buttons{
  display: flex !important;
  flex-direction: column;
}