html {
    height: 100%;
}

.my-custom-background {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#145374,#E8E8E8);
}

.container-cus{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background:#E8E8E8;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 25px;
    border-color: black;
}

.login-box-h2{
    margin: 0 0 30px;
    padding: 0;
    color: #5588A3;
    text-align: center;
}

.login-box .user-box {
    position: relative;
  }

.user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #5588A3;
    pointer-events: none;
    transition: .5s;
  }

    
.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #145374;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #5588A3;
    outline: none;
    background: transparent;
  }

  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #E8E8E8;
    font-size: 12px;
  }

  .cus-a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #145374;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }

  .subBtn{
    text-align: center; 
    margin-top: 20px;
  }

  .btnLogin {
    background-color: #5588A3; /* Change the background color to blue */
    color: #fff; /* Change the text color to white */
    font-weight: bold; /* Add bold font weight */
    padding: 10px 20px; /* Add padding to the button */
    border: none; /* Remove the border */
    cursor: pointer; /* Add a pointer cursor */
    width: 100%; /* Make the input element expand to the full width of its parent */
  }

  .btnLogin:hover {
    /* Add your hover styles here */
    background-color: #145374; /* Darker blue on hover */
  }