/* .container{
    width: 100%;
    height: 100vh;
    background: #ffffff;
    display: flex;
    align-items: center;
    margin-left: 400px;
    margin-right: 200px;
    min-height: 300px;
    min-width: 100px;
} */

.coupon-card{
    background: linear-gradient(135deg, #5588A3, #00334E);
    color: #fff;
    text-align: center;
    padding: 40px 80px;
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);
    position: fixed;
    margin-left: 550px;
    margin-top: 20px;
}

.logo{
    width: 250px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-left: 25px;
}

.coupon-card h3{
    font-size:28px;
    font-weight: 400;
    line-height: 40px;
}

.coupon-card p{
    font-size: 15px;
}

.coupon-row{
    display: flex;
    align-items: center;
    margin: 25px auto;
    width: fit-content;
}

#cpnCode{
    border: 1px dashed #fff;
    padding: 10px 20px;
    border-right: 0;
}

#cpnBtn{
    border:1px solid #fff;
    background: #fff;
    padding: 10px 20px;
    color: #050216;
    cursor:pointer
}

.circle1,.cirlce2{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #f0fff3;
    opacity: 0.1;
    border-radius: 50%;
    top:50%;
    transform: translateY(-50%);
}

.circle1{
    left: -25px;
}

.cirlce2{
    right: -25px;
}