
/* < payment css > */
body{
  background:#eee;

}
.texts{
  font-size: 25px;
font-weight: 650;
background-image: linear-gradient(to bottom left, hsl(246, 86%, 22%), #0aaace);;
color: transparent;
background-clip: text;
-webkit-background-clip: text;

}
.cards {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 1rem;
  
  
}
.cards-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem;
  background: #fffefe;
}
.card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 1rem;
  
  
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem;
  background: #fffefe;
}
.card-body1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem;

}
.invalid{
  color: rgb(250, 66, 66);
}
 
.dark-blue-button{
  background-color: #00334e;
}

.FormSwitcher{
  color: red;
}




.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}



.enabled {
  background-color: #ffffff; /* Background color when enabled */
  color: #000000; /* Text color when enabled */
  border: 1px solid #cccccc; /* Border when enabled */
  padding: 10px; /* Padding when enabled */
  cursor: pointer; /* Change cursor to pointer when enabled */
  
}

 






.disabled-div {
  pointer-events: none;
  opacity: 0.5; /* You can adjust the opacity to make it visually disabled */
  cursor: not-allowed; /* Change cursor to not-allowed when disabled */
  pointer-events: none; /* Disable pointer events when disabled */
}



/* serach */
.form-group.pull-right {
  float: right;
  display: flex;
  background-color: #e4edf6;
  padding: 5px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.search-container {
  position: relative;
 
}

.search.form-control {
  border: none;
  padding-right: 0px; /* Adjust the padding to make space for the icon */
  background-color: #e4edf6;
}
.fa-search {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right offset as needed */
 
  
}
 
.no-result{
  color: #fa0606;
  background-color: #fcfbde;
}

.product,
 .customer,
 .payment,
 .employee,
 .order,
 .supplier,
 .promotion,
 .dashboard,
 .delivery{
   display: flex;
   height: 90vh;
   align-items: center;
   justify-content: center;
   font-size: 3rem;
 }


 .btnApply{
  background-color: var(--main-color); 
  color: #fff;
 }